{% extends 'base.html' %}
{% block title %}Tasks{% endblock %}

{% block content %}
<!-- TASK CREATE FORM -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="header">
                <h4-title>
                    Create new task
                </h4-title>
            </div>
            <div class="content">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                       <div class="form-group">
                           {{ field }}
                       </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END TASK CREATE -->

<div class="row">
    {% for task in task_list %}
    <div class="col-md-3 col-sm-6">
        <div class="card">                                            
            <div class="content">
                <h6 class="category">{{ task.employee }} <small> posted on {{ task.timestamp|date:'D d M Y' }}</small> </h6>
                <h4 class="title">{{ task.name }}</h4>
                <br>
                <small>Description</small>
                <p class="description">{{ task.description }}</p>
                <small>Obstacles</small>
                {% if task.obstacles %}
                    <p>{{ task.obstacles }}</p>
                {% endif %}
                <hr>
                <small class="category"><strong>Deadline</strong></small>
                <p>{{ task.deadline|date:'d M Y' }}</p>
            </div>                                           
        </div>
    </div>
    {% endfor %}
</div>
     
{% endblock content %}

