{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Start project</h4>
            </div>
            <div class="content">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {% if field.help_text %}
                            <h6><small class="category">{{ field.help_text }}</small></h6>
                        {% endif %}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input type="submit" value="Start Project" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Projects Overview</h4>
            </div>
            <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <th>ID</th>
                            <th>Project Name</th>
                            <th>Project Team</th>
                            <th>Division</th>
                            <th>Client</th>
                            <th>Descriptions</th>
                            <th>Startdate</th>
                            <th>Deadline</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            {% for project in project_list %}
                            <tr>
                                <td> <a href="">#{{ project.id }}</a></td>
                                <td>{{ project.name }}</td>
                                    <td>
                                        {% for employee in project.employees.all %}
                                            - {{ employee }}
                                        {% endfor %}
                                    </td>
                                <td>{{ project.division }}</td>
                                <td>{{ project.client }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.timestamp|date:'D d M Y' }}</td>
                                <td>{{ project.deadline|date:'D d M Y' }}</td>
                                <td>
                                    {% if project.active is True %}
                                    Active
                                    {% else %}
                                    Case Closed
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>    
                                    </a>
                                    <a href="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
               </div>
        </div>
    </div>
</div>

{% endblock %}